.curriculum-page {
    border-radius: 30px;
    box-shadow: 0 0 0 5px var(--color-primary);
    background-color: var(--color-primary);
    padding: 40px;
    max-width: 900px;
    margin: 40px auto;
}

.curriculum-page h1 {
    font-size: 35px;
}

.curriculum-page h2 {
    font-size: 20px;
}

.curriculum-page h3 {
    font-size: 18px;
}

.curriculum-page li {
    margin-left: 25px;
}

.curriculum-page ul {
    padding: 0px 0px;
    margin: 0px 0px;
}

.curriculum-page .top h1 {
    margin-top: 0;
}

.curriculum-page .row2 {
    border-radius: 30px;
    box-shadow: 0 0 0 5px var(--color-primary);
    background-color: var(--color-background-light);
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 20px;
    margin-top: 30px;

}

.curriculum-page .inner-row1 ul {
    padding: 0 0;
    margin: 0 0;
}

.curriculum-page .inner-row2 ul {
    padding: 0 0;
    margin: 0 0;
}


